# Ignore node_modules directory
node_modules

# Ignore build output directory
dist

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore TypeScript declaration files
*.d.ts

# Ignore coverage directory
coverage

# Ignore IDE specific files
.vscode
.idea
*.sublime-workspace
*.sublime-project